* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/font/font-text/Montserrat-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('/assets/font/font-text/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
  }

html {
    font-family: montserrat;
}
/* header start  */
#header {
    background-color: #efefef;
    height: 124px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .logo {
    display: inline-block;
    line-height: 124px;
}

#header .logo-text a {
    display: inline-block;
    padding-left: 40px;
    font-family: montserrat-bold;
    font-size: 30px;
    color: rgb(37, 37, 37);
    text-decoration: none;
}

#header .logo-text a:hover {
    opacity: 0.8;
}


#nav {
    display: inline-block;
}

#nav .nav-list {
    line-height: 124px;
    position: absolute;
    top: 0;
    left: calc(50% - 210px);
}

#nav .nav-item {
    float: left;
    margin-right: 30px;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#nav .nav-item a {
    text-decoration: none;
    color: black;
}

#nav .nav-item a:hover {
    opacity: 0.6;
}

.list-button {
    display: inline-block;
    position: absolute;
    right: 0;
    line-height: 124px;
    font-size: 30px;
    text-align: right;
    padding-right: 40px;
}

.list-button a {
    text-decoration: none;
    color: black;
}

.list-button a:hover {
    opacity: 0.6;
}

.list-button .subnav {
    background-color: #efefef;
}

.list-button .sidebar {
    background-color:#efefef;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
    padding-left: 35px;
    padding-bottom: 30px;
    display: none;
    height: 893px;
}

.title-list {
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    line-height: 80px;
    padding-top: 40px;
    text-transform: uppercase;
}

.list-button .side-item {
    list-style-type: none;
    font-size: 20px;
    line-height: 70px;
    text-align: right;
}

.list-button:hover .sidebar {
    display: block;
}

.list-button .side-item a {
    
}
/* header end  */

#content {
    
}

.content-section {
    height: 923px;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
    float: left;
}

.content-section .slogan-paragraph {
    width: 350px;
    text-align: left;
    margin-top: 200px;
    margin-left: 250px;
    
}

.content-section .slogan-p {
    opacity: 0.7;
}

.content-section .read-more {
    margin-top: 10px;
    padding: 2px;
    display: inline-block;
}

.content-section .read-more a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: montserrat-bold;
}

.content-section .read-more a:hover {
    color: gray;
}

.content-section .img {
   height: 100%;
   display: inline-block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.content-section .box {
    height: 600px;
    width: 600px;
    background-color: #e3bc9a;
    position: relative;
    top: 150px;
    border-radius: 50%;

}

.content-section .content-img {
    height: 100%;
    display: inline-block;
    padding-top: 142px;
    position: absolute;
    top: 0;
}

.big-slogan {
    display: inline-block;
    position: absolute;
    top: 53%;
    left: 68%;
    transform: translate(-50%, -50%);
}

.big-slogan .b-slogan {
    font-size: 100px;
    width: 350px;
    line-height: 70px;
    font-family: montserrat-bold;
}

.media-link {
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-bottom: 45px;
    margin-left: 40px;
}

.media-icon .icon {
    float: left;
    margin: 10px;
    list-style-type: none;
}

.media-icon .icon a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 50%;
}

.media-icon .icon a:hover {
    color: rgb(37, 37, 37);
    background-color: #ccc;
}

.copyright {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 45px;
}

.copyright .cpr {
    font-size: 25px; 
}

.copyright .cpr a {
    color: #878787;
    text-decoration: none;
}

.copyright .cpr a:hover {
    opacity: 0.8;;
}

